* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: "Fraunces 9pt", serif;
  src: url(../assets/fonts/Fraunces_9pt-Regular.ttf);
}
@font-face {
  font-family: "Barlow", sans-serif;
  src: url(../assets/fonts/Barlow-Regular.ttf);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 0;
}
nav ul {
  display: flex;
  column-gap: 33px;
}
nav ul li {
  text-transform: uppercase;
  color: #83888F;
  font-weight: 500;
  font-size: 12px;
  font-family: "Barlow", sans-serif;
  transition: 0.4s ease-in-out;
}
nav ul li:hover {
  color: #0E8784;
  font-weight: 700;
}
nav ul li:active {
  transform: scale(1.2);
}

.hero {
  background-image: url(../../assets/images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 137px 750px 137px 85px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.hero h2 {
  color: #FEFCF7;
  font-size: 40px;
  line-height: 48px;
  font-family: "Fraunces 9pt", serif;
}
.hero p {
  color: #FEFCF7;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  font-family: "Fraunces 9pt", serif;
}

.commitment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 99px;
  padding: 0 85px;
  margin-bottom: 168px;
}
.commitment div {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  max-width: 540px;
}
.commitment div h2 {
  color: #333D4B;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 1px;
  font-family: "Fraunces 9pt", serif;
}
.commitment div p {
  font-size: 16px;
  line-height: 26px;
  font-family: "Barlow", sans-serif;
  color: #333D4B;
  letter-spacing: 1px;
}

.quality {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #293039;
}

.text {
  padding: 30px;
  border-radius: 8px;
  max-width: 550px;
}
.text h2 {
  font-size: 40px;
  margin-bottom: 48px;
  letter-spacing: 1px;
  color: #FEFCF7;
}
.text p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #FEFCF7;
}

.image {
  margin-left: 92px;
}
.image img {
  max-width: 100%;
  border-radius: 8px;
}

.headquarters {
  text-align: center;
  padding: 50px;
}
.headquarters h2 {
  color: #333D4B;
  font-size: 32px;
  margin-bottom: 24px;
  line-height: 36px;
  letter-spacing: 1px;
}

.locations {
  display: flex;
  justify-content: center;
  gap: 33px;
}
.locations .location {
  background: #fff;
  padding: 20px;
  text-align: center;
}
.locations .location img {
  max-width: 50px;
  margin-bottom: 45px;
}
.locations .location h3 {
  color: #333D4B;
  font-size: 20px;
  margin-bottom: 10px;
}
.locations .location p {
  color: #333D4B;
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 1px;
}

footer {
  background-color: #2C343E;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  max-height: 120px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 236px;
  margin-right: 103px;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 33px;
}
nav .nav-links li a {
  color: #83888F;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
}
nav .nav-links li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 24px;
}
.social-icons a img {
  max-width: 24px;
}

.plan {
  background-image: url(/assets/images/plan-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 137px 750px 137px 85px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.plan h2 {
  color: #FEFCF7;
  font-size: 72px;
  line-height: 72px;
  font-family: "Fraunces 9pt", serif;
  letter-spacing: 1px;
}
.plan p {
  color: #FEFCF7;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  font-family: "Fraunces 9pt", serif;
  letter-spacing: 1px;
}

.pick {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #2C343E;
  border-radius: 10px;
  margin-top: 177px;
  padding: 67px 150px 107px 85px;
}
.pick .step {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.pick .step .line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FDD6BA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
.pick .step .line .circle {
  width: 16px;
  height: 16px;
  background-color: #0E8784;
  border: 2px solid #FDD6BA;
  border-radius: 50%;
}
.pick .step h2 {
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  letter-spacing: 1px;
}
.pick .step h3 {
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
  letter-spacing: 1px;
}
.pick .step p {
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  letter-spacing: 1px;
  max-width: 285px;
}

.questions {
  display: flex;
  margin-top: 159px;
  padding: 0 85px;
}
.questions .sidebar {
  width: 25%;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.questions .sidebar hr {
  background-color: #83888F;
}
.questions .sidebar .step {
  font-family: "Fraunces 9pt", serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #83888F;
  margin: 10px 0;
  cursor: pointer;
}
.questions .sidebar .step.active {
  color: #00bfa5;
  font-weight: bold;
}
.questions .sidebar .step.dark {
  color: #333D4B;
}
.questions .content {
  width: 75%;
  padding: 23px;
}
.questions .content h2 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 58px;
  letter-spacing: 1px;
  color: #83888F;
}
.questions .content .options {
  display: flex;
  justify-content: space-between;
}
.questions .content .options .option {
  font-family: "Fraunces 9pt", serif;
  margin: 0 23px;
  padding: 28px;
  background-color: #F4F1EB;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.questions .content .options .option.active {
  background-color: #0E8784;
  color: #fff;
}
.questions .content .options .option h3 {
  font-family: "Fraunces 9pt", serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.questions .content .options .option p {
  font-family: "Fraunces 9pt", serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
}/*# sourceMappingURL=main.css.map */