@font-face {
    font-family: "Fraunces 9pt", serif;
    src: url(../assets/fonts/Fraunces_9pt-Regular.ttf);
}

@font-face {
    font-family: "Barlow", sans-serif;
    src: url(../assets/fonts/Barlow-Regular.ttf);
}